body {
    margin: 0;
}
td {
    width: 5vw;
    border: 1px solid black;
   text-align: center;
}
.noBorder {
    border: none;
}
.headingOne {
    background-color: yellow;
    padding: 5px;
    font-size: 5vw;
}